.card {
  min-height: 217px;
  h5{
    cursor: pointer;
  }
}
.stars {
.fas {
color: gold;
}

}
.fav{
  .fas{
    color: darkred;
  }
}
.far {
color: #ccc;
}

@media screen and (min-width: 1424px) {
  .card {
    min-height: 236px;
  }
}
@media screen and (max-width: 1424px) {
  .card {
    min-height: 282px;
  }
}
@media only screen and (max-width: 450px) {
  .card {
    min-height: 220px;
    margin-bottom: 10px;
    img{
      width: 120px
    }
  }
}
@media only screen and (max-width: 436px) {
  .card {
    min-height: 219px;
    margin-bottom: 5px;
  }
}
