<div class="container d-flex justify-content-center align-items-center vh-100">
<div class="content w-md-75 border border-1 shadow d-flex justify-content-between h-75 border-1 rounded-4 overflow-hidden">
  <div class="d-flex p-4 pb-5 pb-mb-0 p-md-5 w-100 text-center flex-column justify-content-md-center justify-content-end align-content-center gap-md-4 text-white">
    <p class="w-100">
    Your body deserves the best <br class="d-block d-md-none"> let's start together.
    </p>

  <app-button routerLink="/auth/login" class="my-3 my-md-1">Login</app-button>
  <app-button routerLink="/auth/register">Sign up</app-button>
  </div>

  <div class="img d-none d-md-block">
    <img class="" src="../../../assets/images/entry.png" alt="">
  </div>
</div>

</div>

