
// background: #065E21;
// Poppins
// background: #B52323;
.container{
  font-family: 'Poppins';
  form{
    input:focus{
    outline: none !important;
    box-shadow: none !important;
    border-color: #ccc !important; /* optional */
}
  }
}
