.categories{
  .card{
    min-height: 263px;
  }
}

@media screen and (max-width: 1199px){
  .categories{
  .card{
    min-height: 362px;
  }
}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .categories{
  .card{
    min-height: 282px;
  }
}
}
@media only screen and (max-width: 767px) {
  .categories{
    img{
    width: 50% !important;
  }
  .card{
    min-height: 158px;
  }
}
}
