<section class="categories my-3 mb-5 pb-5">
  <p class="fw-bold h5 mb-3">Categories</p>

  <div class="row g-3">
    @for(category of categories(); track category.id){
      <div class="col-6 col-md-4 col-xl-2">
      <div class="card text-center p-2 pb-0">
        <img [src]="category.image" class="card-img-top w-100 mx-auto" alt='{{category.name}} Image'>
        <div class="card-body px-0 pt-3 d-flex align-items-end">
          <button (click)="onClick(category.id)" class="btn border bg-success text-white fw-bold w-100">{{category.name}}</button>
        </div>
      </div>
    </div>
    }
  </div>
</section>

