form{
  width: 54%;
  min-width: 260px;
  input:focus{
    outline: none;
  box-shadow: none;
  }
}
.small-box {
position: fixed;
top: 70px;          // distance from top
right: 20px;        // distance from right
width: 280px;
background: #fff;
border-radius: 0.5rem;
padding: 1rem;
display: none;
z-index: 1050;
transition: transform 0.3s ease, opacity 0.3s ease;
transform: translateX(100%);
opacity: 0;

&.show {
  display: block;
  transform: translateX(0);
  opacity: 1;
}

}
.mobile-bottom-nav {
  z-index: 1000;
  a {
    text-decoration: none;
    color: rgb(146, 146, 146);
    span{
      color: rgba(0, 0, 0, .5);
    }
    .icon-text {
      small {
        font-size: 0.75rem;
      }
    }
  }
  .span-success{
    span{
      color: rgba(0, 0, 0, 1);
    }
  }
}

